In [1]:
import pandas as pd

In [6]:
#list와 tuple 데이터로 Series형 생성
date = [10, 12, 15, 21, 30]
name = ('a', 'b', 'c', 'd', 'e')

date = pd.Series(date)
name = pd.Series(name)

[name, date]

[0    a
 1    b
 2    c
 3    d
 4    e
 dtype: object,
 0    10
 1    12
 2    15
 3    21
 4    30
 dtype: int64]

In [32]:
#딕셔너리로 Series형 생성

dic = {'a':'3', 'c':'1', 'd':'2'}
dic = pd.Series(dic)
dic

a    3
c    1
d    2
dtype: object

In [35]:
#딕셔너리 Series화 할 때, index 설정해주기
dic = {'a':'3', 'c':'1', 'b':'2'}
dic = pd.Series(dic, index = ['a','b','c', 'c', 'd'])
dic

a      3
b      2
c      1
c      1
d    NaN
dtype: object

In [36]:
#스칼라값으로 Series 생성

s = pd.Series(10, index = ['1','3','2'])
s

1    10
3    10
2    10
dtype: int64

In [10]:
#Series형 데이터의 조회 (특정 여러 행 조회)
name[[1,3]]

1    b
3    d
dtype: object

In [11]:
#Series형 데이터의 조회 (범위 행 조회)
date[0:3]

0    10
1    12
2    15
dtype: int64

In [12]:
#Series형 데이터의 조회 (행 하나만 조회)
date[4]

30

In [14]:
#Series형 데이터의 값만 떼어내기

print(date.values)
type(date.values)

[10 12 15 21 30]

numpy.ndarray

In [18]:
#Series형에서 추출한 값 list화 (ndarray -> list)

datev = list(date.values)
print(datev)
print(type(datev))

[10, 12, 15, 21, 30]
<class 'list'>

In [23]:
#Series형에서 index 범위 조회

date.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
#Series형에서 index의 타입은?

type(date.index)

pandas.core.indexes.range.RangeIndex

In [39]:
#Sereis형에서 특정 조건 조회
#데이터 프레임과 비슷하다. 유의할 점은 Series형은 데이터명과 칼럼명이 동일하다는 것

date[date>12]

2    15
3    21
4    30
dtype: int64

In [40]:
#Sereis형에서 특정 조건 조회
#데이터 프레임과 비슷하다. 유의할 점은 Series형은 데이터명과 칼럼명이 동일하다는 것

name[name=='c']

2    c
dtype: object

In [42]:
#Series형에서 논리연산 사용해 특정 조건 조회
#And는 두 조건을 각각 대괄호를 써서 따로 입력

date[date>10][date<=21]

1    12
2    15
3    21
dtype: int64

In [43]:
#Series형에서 논리연산 사용해 특정 조건 조회
#Or은 대괄호 안에 소괄호로 두 조건을 각각 따로 묶고, 두 조건 사이에 | 넣기

date[(date<11)|(date>21)]

0    10
4    30
dtype: int64

In [51]:
#Series형 사칙연산

date+date
date-date
date*date
date/date

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [56]:
#Series형 사칙연산(index 지정)
day = pd.Series([9,10,11,12,13], index = ['월','화','수','목','금'])
day2 = pd.Series(10, index = ['금','토','일'])

day+day2

금    23.0
목     NaN
수     NaN
월     NaN
일     NaN
토     NaN
화     NaN
dtype: float64